/* --- import styles --- */

@import url("fonts.css");
@import url("variable.css");
@import url("constant.css");


/* --- vertical line --- */

.ver_line1 {
    border-left: 1.1px solid var(--lineColor);
    min-height: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: -1;
}
.ver_line2 {
    border-left: 1.1px solid var(--lineColor);
    height: 100%;
    position: fixed;
    left: 25%;
    top: 0;
    z-index: -1;
}
.ver_line3 {
    border-left: 1.1px solid var(--lineColor);
    height: 100%;
    position: fixed;
    right: 25%;
    top: 0;
    z-index: -1;
}


/* --- header --- */

.header__box {
    font-weight: 700;
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
}
.header__logo-text {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 13px 0px 0px 10px;
}
.menu__nav-list {
    list-style-type: none;
    display: flex;
    margin: 19px 0px 0px 27px;
}
.menu__nav-list-item {
    margin-right: 22px;
    padding: 5px 10px;
}
.menu__nav-list-item:last-child {
    margin-right: 0px;
}
.menu__nav-list-item:hover {
    background: var(--linkColor);
    border-radius: 13px;
}
.menu__nav-list-item-link {
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--bodyColor);
}
.menu__nav-list-item-link:hover {
    color: var(--white);
}
.menu__nav-list-item-link:active {
    color: var(--bodyColor);
}
.tel__block {
    margin-left: 33px;
}
.tel__box {
    display: flex;
}
.tel__box-link {
    margin-right: 10px;
}
.tel__box-link:hover {
    background: var(--linkColor);
    border-radius: 13px;
}
.tel__box-number {
    font-size: 1.14rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--bodyColor);
}
.tel__box-number:hover {
    color: var(--linkColor);
}
.button__call {
    margin-top: 12px;
}
.button__call-link {
    font-size: 1.125rem;
    padding: 7px 25px;
    background: var(--linkColor);
    color: var(--white);
    text-decoration: none;
    border-radius: 13px;
}
.button__call-link:hover {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    color: var(--bodyColor);
}
.button__call-link:active {
    color: var(--bodyColor);
}


/* --- menu mobile */

.menu__mobile {
    margin-top: 13px;
    position: relative;
}
.span__mobile {
    width: 45px;
    height: 8px;
    background: var(--linkColor);
    display: block;
    margin-bottom: 7px;
    border-radius: 10px;
}
.span__mobile:last-child {
    margin-bottom: 0px;
}
.menu__mobile-list-block {
    display: none;
    width: 226px;
    background: var(--lineColor);
    padding: 15px;
    position: absolute;
    left: 20%;
    top: 80px;
    box-shadow: 0px 0px 100px 50px #525252;
    border-radius: 5px;
}
.menu__mobile-close {
    color: var(--linkColor);
    font-weight: 700;
    font-size: 1.8rem;
    position: absolute;
    right: -2px;
    top: -15px;
    cursor: pointer;
}
.menu__mobile-list {
    list-style-type: none;
    position: relative;
}
.menu__mobile-list-item {
    margin-bottom: 15px;
}
.menu__mobile-list-item:last-child {
    margin-bottom: 0px;
}
.menu__mobile-list-item-link {
    text-decoration: none;
    color: var(--bodyColor);
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.menu__mobile-list-item-link:active {
    color: var(--linkColor);
}


/* --- line horizontal --- */

.hr__block {
    border-top: 0.7px solid var(--lineColor);
    width: 100%;
    z-index: -1;
}


/* --- first --- */

.first__box {
    display: flex;
}
.first__box-head {
    margin-top: 100px;
}
.first__box-head-text {
    font-size: 2.250rem;
    font-weight: 700;
    line-height: 45px;
}
.first__box-head-text-mobile {
    display: none;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 45px;
    margin-right: 10px;
}
.first__box-btn {
    margin-top: 35px;
}
.first__box-btn-link {
    font-size: 1.438rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    padding: 10px 10px;
    border-radius: 13px;
    background: var(--linkColor);
}
.first__box-btn-link:hover {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}
.first__box-img {
    position: relative;
}
.img-floor {
    position: absolute;
    top: 172px;
    left: 100px;
}
.img-layer {
    position: absolute;
    top: 147px;
    left: 100px;
}
.img-trowel {
    position: absolute;
    top: 19px;
    left: 230px;
}
.img-trowel:hover {
    animation-play-state: paused;
}
.first__box-img-block {
    display: none;
}


/* --- first advantage --- */

.advantage__box {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    flex-wrap: wrap;
}
.advantage__box-block {
    text-align: center;
    margin: 20px auto 25px auto;
}
.advantage__box-block-text {
    font-size: 1.125rem;
    font-weight: 500;
    width: 250px;

}
.advantage__box-block-img-floor {
    margin-bottom: 14px;
}
.advantage__box-block-img-warranty {
    margin-bottom: 16px;
}
.advantage__box-block-img-blower {
    margin: 11px auto 20px auto;
}
.advantage__box-block-img-experience {
    margin-top: 17px;
    margin-bottom: 29px;
}


/* --- order --- */

.uderline__order-head {
    height: 10px;
    width: 131px;
    background: var(--linkColor);
    position: absolute;
    left: 447px;
    top: 21px;
    z-index: -1;
}
.order__box-list {
    display: flex;
    justify-content: space-between;
}
.order__box-list-item-element {
    display: flex;
    padding-bottom: 65px;
}
.order__box-block-element-img {
    margin-right: 28px;
    width: 120px;
}
.order__box-block-element-block-head {
    font-size: 1.500rem;
    font-weight: 700;
    margin-bottom: 18px;
}
.order__box-block-element-block-text {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 25px;
}


/* --- price --- */

.uderline__price-head {
    height: 10px;
    width: 162px;
    background: var(--linkColor);
    position: absolute;
    left: 447px;
    top: 21px;
    z-index: -1;
}
.price__box {
    display: flex;
    justify-content: space-between;
}
.price__box-conditions, .price__box-calc {
    margin: 0px 10px;
}
.price__box-conditions-text, .price__box-calc-block-text {
    font-size: 1.188rem;
    font-weight: 500;
    line-height: 25px;
}
.price__box-conditions-list {
    list-style-type: none;
    margin: 40px 0px 0px 20px;
}
.price__box-conditions-list-item {
    font-size: 1.188rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.price__box-calc {
    background: linear-gradient(to bottom, #DADADA, #F6F6F6);
    margin-top: 23px;
}
.price__box-calc-block {
    display: flex;
}
.price__box-calc-block-img {
    margin: -25px 20px 0px 30px;
    width: 75px;
}
.price__box-calc-block-text {
    text-align: center;
    margin: 10px 20px 0px 0px;
}
.price__box-calc-rendering {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 30px;
}
.price__box-calc-rendering-input {
    border: 0.5px solid var(--linkColor);
    height: 30px;
    width: 110px;
    border-radius: 5px;
    padding-left: 6px;
}
.price__box-calc-rendering-result {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 30px;
}
.price__box-calc-rendering-result-span {
    font-size: 1.2rem;
}
.price__box-btn {
    text-align: center;
    margin: 20px auto 55px auto;
}
.price__box-btn-link {
    font-size: 1.2rem;
    padding: 7px 25px;
    background: var(--linkColor);
    color: var(--white);
    text-decoration: none;
    border-radius: 13px;
    font-weight: 700;
}
.price__box-btn-link:hover {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}
.price__box-btn-link:active {
    color: var(--bodyColor);
}


/* --- partfolio --- */

.uderline__partfolio-head {
    height: 10px;
    width: 211px;
    background: var(--linkColor);
    position: absolute;
    left: 397px;
    top: 21px;
    z-index: -1;
}
.arrow-slider-left {
    position: absolute;
    left: 10px;
    top: 238px;
    z-index: 2;
}
.arrow-slider-right {
    position: absolute;
    right: 10px;
    top: 238px;
    z-index: 2;
}
.arrow-slider-left:hover, .arrow-slider-right:hover {
    cursor: pointer;
    margin-top: -10px;
}
.box__slider {
    position: relative;
}
.box__slider-element-block {
    display: flex;
    justify-content: space-evenly;
}
.box__slider-element-img {
    margin-bottom: 30px;
}
.box__slider-element-img-back {
    position: absolute;
    top: 140px;
    z-index: -1;
}
.box__slider-element-block-description {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 5px auto 30px auto;
}
.partfolio__box-btn {
    text-align: center;
    margin: 50px auto 55px auto;
}
.uderline__partfolio-head-description {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 15px;
}


/* --- faq --- */

.uderline__questions-head {
    height: 10px;
    width: 279px;
    background: var(--linkColor);
    position: absolute;
    left: 362px;
    top: 21px;
    z-index: -1;
}
.box__questions-block {
    width: 500px;
    margin: 30px auto;
}
.box__questions-block-head-line {
    display: flex;
    justify-content: space-between;
    background: var(--orange);
    border-radius: 13px;
    cursor: pointer;
}
.box__questions-block-head-line:hover {
    box-shadow: var(--shadow);
}
.box__questions-block-head {
    font-size: 1.250rem;
    font-weight: 800;
    color: var(--white);
    padding: 20px 0px 20px 30px;
}
.box__questions-block-head:hover {
    color: var(--bodyColor);
}
.box__questions-block-head-plus {
    font-size: 1.250rem;
    font-weight: 800;
    color: var(--white);
    padding: 20px 20px 20px 0px;
}
.box__questions-block-text {
    font-size: 1.188rem;
    font-weight: 500;
    width: 484px;
    padding: 20px 0px 25px 25px;
    line-height: 27px;
}


/* --- equipment --- */

.uderline__equipment-head {
    height: 10px;
    width: 214px;
    background: var(--linkColor);
    position: absolute;
    left: 507px;
    top: 21px;
    z-index: -1;
}
.box__slider-equipment {
    position: relative;
    margin-bottom: 200px;
}
.arrow-slider-equipment-left {
    position: absolute;
    left: 10px;
    top: 110px;
}
.arrow-slider-equipment-right {
    position: absolute;
    right: 10px;
    top: 110px;
}
.arrow-slider-equipment-left:hover, .arrow-slider-equipment-right:hover {
    cursor: pointer;
    margin-top: -10px;
}
.box__slider-element-equipment-block {
    width: 555px;
    position: relative;
    margin: 0px auto;
}
.box__slider-element-equipment-block-img {
    position: absolute;
    z-index: 2;
    right: 40px;
    /* top: -40px; */
}
.box__slider-element-equipment-block-head {
    font-size: 1.255rem;
    font-weight: 700;
    color: var(--white);
    background: #B0AFB0;
    padding: 10px 0px 10px 15px;
    line-height: 28px;
    border-radius: 5px;
}
.box__slider-element-equipment-block-text {
    font-size: 1.063rem;
    font-weight: 500;
    padding: 15px 0px 15px 15px;
}


/* --- contacts --- */

.uderline__contacts-head {
    height: 10px;
    width: 140px;
    background: var(--linkColor);
    position: absolute;
    left: 501px;
    top: 21px;
    z-index: -1;
}
.box__contacts-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.box__contacts-block-adress-list {
    list-style-type: none;
    margin-top: 60px;
}
.box__contacts-block-adress-block {
    display: flex;
    margin-bottom: 33px;
}
.box__contacts-block-adress-item {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 15px;
    line-height: 27px;
}
.box__contacts-block-adress-item-link {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--bodyColor);
    text-decoration: none;
}
.box__contacts-block-adress-item-link:hover {
    color: var(--linkColor);
    text-decoration: underline;
}
.fa-clock, .fa-phone, .fa-envelope, .fa-user-alt  {
    font-size: 1.3rem;
    color: var(--linkColor);
}
.fa-clock {
    margin-top: 2px;
}
.fa-envelope {
    margin-top: 2px;
}
.box__contacts-block-form {
    background: linear-gradient(to bottom, #DADADA, #F6F6F6);
    width: 550px;
}
.box__contacts-block-form-head {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 30px auto 35px auto;
    text-align: center;
}
.box__contacts-block-form-done {
    font-size: 1.2rem;
    color: var(--bodyColor);
    width: 90%;
    margin: 20px auto;
}
.box__contacts-block-form-action {
    margin: 0px auto 20px auto;
    text-align: center;
}
.box__contacts-block-form-input {
    width: 330px;
    height: 45px;
    font-size: 19px;
    border: 0px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 13px;
}
.box__contacts-block-form-textarea {
    width: 330px;
    height: 60px;
    font-size: 19px;
    border: 0px;
    margin-bottom: 20px;
    padding: 10px 0px 0px 15px;
    border-radius: 13px;
}
.box__contacts-block-form-head-text {
    font-size: 1.1rem;
    color: tomato;
    margin-bottom: 15px;
}
.box__contacts-block-form-button {
    width: 330px !important;
    height: 45px;
    font-size: 23px;
    font-weight: 700;
    color: var(--white);
    background: var(--linkColor);
    border: 0px;
    border-radius: 5px;
}
.box__contacts-block-form-button:hover {
    box-shadow: var(--shadow);
    color: var(--bodyColor);
}

/* --- footer --- */

.footer__box {
    display: flex;
    margin-top: 22px;
    padding-bottom: 16px;
    justify-content: space-between;
}
.footer__box-confidencial {
    text-align: center;
    margin: 5px 0px 0px 20px;
}
.footer__box-confidencial-link {
    font-size: 1.125rem;
    color: var(--bodyColor);
    text-decoration: none;
    border-bottom: 1px solid var(--bodyColor);
}
.footer__box-confidencial-link:hover {
    color: var(--linkColor);
    border-bottom: 1.5px solid var(--linkColor);
}
.footer__box-confidencial-text {
    font-size: 1.125rem;
    color: var(--bodyColor);
    margin-top: 10px;
}
.designed__by {
    margin-top: 14px;
}
.designed__by-text {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    margin: 0px auto;
}
.designed__by-text:hover {
    color: var(--linkColor);
    cursor: pointer;
}
.button__mail {
    margin: 10px 0px 0px 11px;
}
.arrow__up {
    position: fixed;
    left: 30px;
    bottom: 15px;
    opacity: 0.4;
}
.arrow__up:hover {
    cursor: pointer;
}
.box__confidencial {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}
.box__confidencial-head {
    margin: 5px auto 15px auto;
    text-align: center;
}
.box__confidencial-head-text {
    font-size: 1.5rem;
    margin: 0px auto;
}
.box__confidencial-one-level {
    list-style-type: none;
    margin: 10px 0px;
}
.box__confidencial-two-level {
    list-style-type: none;
    margin: 10px 0px 10px 20px;
}
.box__confidencial-three-level {
    list-style-type: none;
    margin: 10px 0px 10px 20px;
}
.designed__by-text-link {
    color: var(--bodyColor);
    text-decoration: none;
}
.designed__by-text-link:hover {
    color: var(--linkColor);
    cursor: pointer;
}

/* --- preloader --- */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: var(--bodyBackg);
    z-index: 1001;
}
.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
@keyframes preloader-rotate {
    80% {
        transform: scale(2,2);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}
