:root {
    --bodyBackg: #F6F6F6;
    --bodyColor: #1D1D1D;
    --lineColor: #DCDCDC;
    --linkColor: #3FB0AC;
    --white: #ffffff;
    --black: #000000;
    --shadow: 5px 5px 5px 0px #b7bcbc;
    --mrg: 0px auto;
    --orange: #E29265;
}
